@media only screen and (max-width: 767px) {
    .row-max {
        max-width: 700px;
    }

    nav {
        display: block;
        background-color: rgba(255, 255, 255, 0.98);
        z-index: 9999;
        /* height: 100vh; */
    }
    .burger {
        display: block;
        float: right;
        cursor: pointer;
        margin-top: -5px;
    }

    .contact:link,
    .contact:visited {margin-top: 60px;}

    .main-nav {display: none;}

    .main-nav li, .contact {
        margin-top: 60px;
        display: block;
        padding: 30px;
        list-style: none;
        display: flex;
        text-align: center;
        flex-direction: column;
        z-index: 9999;
        width: 100%;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited,
    .contact:link,
    .contact:visited {
        text-decoration: none;
        color: #000;
        font-size: 130%;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.4s;
    }

    .main-nav li a:hover,
    .main-nav li a:active,
    .contact:hover,
    .contact:active {
        border-bottom: 2px solid #185abe;
    }

    .sticky .main-nav li a:link .contact:link,
    .sticky .main-nav li a:visited .contact:active {padding: 10px 0;}

    .sticky .contact:link,
    .sticky .contact:visited {margin-top: 60px;}


    .welcome-box h1 {
        font-size: 150%;
    }

    .welcome-box p {
        font-size: 85%;
    }

    .footer-nav-left {
        font-size: 90%;
    }

    .footer-nav-right {
        float: initial;
        text-align: center;
        font-size: 150%;
        padding: 15px;
    }

    .long-copy {
        font-size: 80%;
    }

    h3 {
        font-size: 90%;
    }

    .box-inner-left {
        width: 100%;
    }

    .box-inner-right {
        width: 100%;
    }

    .box-bottom h4 {
        margin-left: 20px;
    }
    
    .used-technologies {
        margin: 25px 20px;
    }
}

@media only screen and (max-width: 1023px) and (min-width: 768px) {
    .row-max {
        max-width: 750px;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 1023px) {    
    .row-max {
        max-width: 1000px;
    }
}