/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #000;
    font-family: 'Montserrat', 'Arial', 'sans serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

header {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*100vh = die gesamte Seite*/
    height: 100vh;
}

section {
    padding: 80px 0;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    margin: 0 auto;
}

.row-max {
    max-width: 1280px;
    margin: 0 auto;
}

.box {
    padding: 2%;
}

/* ---------- NAVIGATION ---------- */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 15px 10%;
}

.name {
    font-weight: 400;
    margin-top: 5px;
}

.name:link,
.name:visited,
.contact:link,
.contact:visited,
.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #000;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.name:hover,
.name:active,
.contact:hover,
.contact:active,
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #185abe;
} 

.main-nav li {
    display: inline-block;
    padding: 0 20px;
}

/* Sticky nav */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
}

.sticky .name:link,
.sticky .name:visited {
    margin-top: 10px;
}

.sticky .contact:link,
.sticky .contact:visited {
    margin-top: 10px;
}

.sticky .main-nav li {display: inline-block;}
.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    color: #000;
}

.welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* ---------- Mobile Nav ---------- */

.burger {
    display: none;
}

.burger i {
    font-size: 150%;
    color: #000;
}

/* .burger div {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px;
} */

.welcome-box p {
    margin-bottom: 30px;
}

/* ---------- ABOUT ME ---------- */
.section-about-me {
    background-color: #f4f4f4;
}

/* ---------- PORTFOLIO ---------- */
/* .section-portfolio {

} */

/* ---------- RESUME ---------- */
.section-resume {
    background-color: #f4f4f4;
}

/* ---------- CONTACT ME ---------- */
/* .section-contact-me {
    
} */

/* ---------- FOOTER ---------- */
footer {
    background-color: #f4f4f4;
    padding: 40px;
    font-size: 70%;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 70%;
    margin-top: 40px;
}

.footer-nav-left {
    float: left;
    list-style: none;
}

.footer-nav-left li {
    list-style: none;
    display: inline-block;
}

.footer-nav-left li a {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
    transition: border-bottom 0.4s;
}

.footer-nav-left li a:link,
.footer-nav-left li a:visited {
    border-bottom: 2px solid transparent;
}

.footer-nav-left li a:hover,
.footer-nav-left li a:active {
    border-bottom: 2px solid #185abe;
}

.footer-nav-right {
    float: right;
    list-style: none;
    font-size: 190%;
    color: #000;
}

.footer-nav-right li a:link,
.footer-nav-right li a:visited {
    color: #000;
}

.footer-nav-right li {
    display: inline-block;
}

.linkedin:hover {
    color: #2867B2;
}

.xing:hover {
    color: #026466;
}

.github:hover {
    color: #333;
}

/* ---------- BUTTONS ---------- */

.btn:link,
.btn:visited {
    text-align: center;
    width: 200px;
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    transition: border 0.4s, color 0.4s, background-color 0.4s;
}

.btn-full {
    text-decoration: none;
    color: #000;
    border: 3px solid #000;
}

.btn-full:hover,
.btn-full:active {
    border: 3px solid #185abe;
    color: #185abe;
}

.btn-ghost {
    text-decoration: none;
    color: #fff;
    border: 3px solid #000;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: #000;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #f4f4f4;
    color: #185abe;
    border: 3px solid #185abe;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
    font-size: 240%;
    word-spacing: 2px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #185abe;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ---------- Portfolio ---------- */

.box-inner-image {
    width: 350px;
    height: auto;
    overflow: hidden;
    opacity: 0.85;
    transition: transform 0.5s, opacity 0.5s;
}

.box-inner-image-homepage {
    width: 450px;
    height: auto;
    margin-top: 20px;
}

.box-inner-image-simple-project {
    width: 350px;
    height: auto;
    overflow: hidden;
    background-color: #cececea8;
    margin-top: 30px;
    opacity: 0.7;
    transition: transform 0.5s, opacity 0.5s;
}

.project-images:hover {
    opacity: 1;
    transform: scale(1.03);
}

.box-project {
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    padding: 20px 0px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 2px #efefef;
    overflow: hidden;
    margin-bottom: 50px;
}

.box-inner-left {
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
}

.box-inner-right {
    float: right;
    width: 50%;
}

.box-inner-text {
    margin-top: 10px;
    padding: 10px 0;
    text-align: left;
}

.box-inner-text p {
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.box-inner-text-the-simple-project {
    margin-top: 10px;
    padding: 10px 0;
    text-align: left;
}

.box-inner-text-the-simple-project p {
    font-size: 95%;
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.box-inner-button {
    text-align: center;
}

.box-inner-button li {
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
}

.box-bottom {
    float: left;
    width: 100%;
    margin-top: 25px;
}

.box-bottom h4 {
    margin-left: 100px;
}

.box-bottom ul {
    list-style: none;
}

.used-technologies {
    margin: 25px 100px;
}

.used-technologies-title {
    float: left;
}

.used-technologies-title ul li {
    display: inline;
}

.used-technologies-list {
    margin-left: 35%;
    width: 100%;
    list-style: none;
    display: list-item;
    text-align: left;
}

.used-technologies-list ul li {
    display: inline;
}

.project-java p {
    font-size: 95%;
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

h3 {
    text-align: center;
}

.email-container {
    text-align: center;
}

/* ---------- Resume ---------- */
.work-stations {
    max-width: 800px;
    margin: 0 auto;
    height: auto;
    overflow: hidden;
    margin-bottom: 50px;
}

.box-inner-left-resume {
    float: left;
    width: 40%;
    height: auto;
    text-align: center;
}

.box-inner-left-resume img {
    width: 150px;
    height: auto;
    overflow: hidden;
}

.box-inner-right-resume {
    float: right;
    width: 60%;
}

.box-inner-right-resume h3 {
    text-align: left;
}

.box-inner-right-resume p {
    font-size: 85%;
    line-height: 1.5;
}

/* ---------- Contact ---------- */

/* ---------- Animations ---------- */

.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    animation-duration: 1s;
}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
}