/* ---------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #ffffff;
    color: #000;
    font-family: 'Montserrat', 'Arial', 'sans serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

header {
    /* background-image: linear-gradient(rgb(0, 0, 0, 0.7), rgb(0, 0, 0, 0.7)), url(img/hero.jpg); */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /*100vh = die gesamte Seite*/
    height: 100vh;
}

section {
    padding: 80px 0;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}

.row {
    /* max-width: 1280px; */
    margin: 0 auto;
}

.row-max {
    max-width: 1280px;
    margin: 0 auto;
}

.box {
    padding: 2%;
}

/* ---------- NAVIGATION ---------- */

nav {
    margin-top: 20px;
    position: relative;
}

.name {
    float: left;
    font-weight: 400;
}

.name:link,
.name:visited,
.contact:link,
.contact:visited,
.main-nav li a:link,
.main-nav li a:visited {
    text-decoration: none;
    color: #000;
    padding: 8px 0;
    font-size: 80%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.4s;
}

.name:hover,
.name:active,
.contact:hover,
.contact:active,
.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #185abe;
} 

.main-nav {
    margin-top: 20px;
    list-style: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main-nav li {
    display: inline-block;
    margin-left: 25px;
}

.contact {
    float: right;
}

.welcome-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.welcome-box p {
    margin-bottom: 30px;
}

/* ---------- ABOUT ME ---------- */
.section-about-me {
    background-color: #f4f4f4;
}

/* ---------- PORTFOLIO ---------- */
/* .section-portfolio {

} */

/* ---------- RESUME ---------- */
.section-resume {
    background-color: #f4f4f4;
}

/* ---------- CONTACT ME ---------- */
/* .section-contact-me {
    
} */

/* ---------- FOOTER ---------- */
footer {
    background-color: #f4f4f4;
    padding: 40px;
    font-size: 70%;
}

footer p {
    color: #888;
    text-align: center;
    font-size: 70%;
    margin-top: 40px;
}

.footer-nav-left {
    float: left;
    list-style: none;
}

.footer-nav-left li {
    list-style: none;
    display: inline-block;
}

.footer-nav-left li a {
    text-decoration: none;
    color: #000;
    margin-left: 15px;
}

.footer-nav-right {
    float: right;
    list-style: none;
    font-size: 190%;
    color: #000;
}

.footer-nav-right li a:link,
.footer-nav-right li a:visited {
    color: #000;
}

.footer-nav-right li {
    display: inline-block;
}

.linkedin:hover {
    color: #2867B2;
}

.xing:hover {
    color: #026466;
}


/* ---------- BUTTONS ---------- */

.btn:link,
.btn:visited {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    transition: border 0.4s, color 0.4s, background-color 0.4s;
}

.btn-full {
    text-decoration: none;
    color: #000;
    border: 3px solid #000;
}

.btn-full:hover,
.btn-full:active {
    border: 3px solid #185abe;
    color: #185abe;
}

.btn-ghost {
    text-decoration: none;
    color: #fff;
    border: 3px solid #000;
}

.btn-ghost:link,
.btn-ghost:visited {
    background-color: #000;
}

.btn-ghost:hover,
.btn-ghost:active {
    background-color: #fff;
    color: #185abe;
    border: 3px solid #185abe;
}

.btn-app img {
    height: 50px;
    width: auto;
    margin-right: 10px;
}

.btn-app:link,
.btn-app:visited {
    border: 0;
}

h1,
h2,
h3 {
    font-weight: 400;
}

h1 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
    font-size: 240%;
    word-spacing: 2px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #185abe;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

.long-copy {
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* ---------- Portfolio ---------- */

.portfolio-box {
    max-width: 1000px;
    margin: 0 auto;
}

/* ---------- Fitness - Gym-Workout-Planner ---------- */

.box-inner-image {
    width: 350px;
    height: auto;
}

.box-inner-image-homepage {
    width: 450px;
    height: auto;
    margin-top: 20px;
}

.box-project {
    max-width: 1000px;
    margin: 0 auto;
    height: auto;
    padding: 20px 0px;
    background-color: #f4f4f4;
    border-radius: 5px;
    box-shadow: 0 2px 2px #efefef;
    overflow: hidden;
    margin-bottom: 50px;
}

.box-inner-left {
    float: left;
    width: 50%;
    height: auto;
    text-align: center;
}

.box-inner-right {
    float: right;
    width: 50%;
}

.box-inner-text {
    margin-top: 10px;
    padding: 10px 0;
    text-align: left;
}

.box-inner-text p {
    line-height: 145%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

.box-inner-button {
    text-align: center;
}

.box-inner-button li {
    overflow: hidden;
    white-space: nowrap;
    width: fit-content;
    display: inline-block;
    height: 50px;
    padding: 0 20px;
}

.box-bottom {
    float: left;
    width: 100%;
    margin-top: 25px;
}

.box-bottom h4 {
    margin-left: 100px;
}

.box-bottom ul {
    list-style: none;
}

.used-technologies {
    margin: 25px 100px;
}

.used-technologies-title {
    float: left;
}

.used-technologies-title ul li {
    display: inline;
}

.used-technologies-list {
    margin-left: 35%;
    width: 100%;
    list-style: none;
    display: list-item;
    text-align: left;
}

.used-technologies-list ul li {
    display: inline;
}

h3 {
    text-align: center;
}